{% extends 'admin_layout.html' %}
{% block body %}
    <span class="page-link">
        <a href='{{ url_for("page_edit", title=page.title) }}'>
            Edit {{ page.title }} page
        </a>
    </span>
    <div class="clear"></div>
    <!-- compare to 'N/A' because  not all pages have all types, but 
    ones that do are allowed to be None -->
    {% if page.header_image != 'N/A' %}
        <p>Header Image:</p>
        {% if page.header_image %}
            <img class="indent-left fit-image" src='{{ url_for("static", filename= "images/" + page.header_image) }}'>
        {% else %}
            <p class="indent-left">None</p>
            {% endif %}
        <div class="clear"></div>
    {% endif %}
    {% if page.content != 'N/A' %}
        <p>Main content:</p>
        <span class="indent-left">{{ page.content }}</span>
        <div class="clear"></div>
    {% endif %}
    {% if page.lower_image != 'N/A' %}
        <p>Lower Image:</p>
        <img class="indent-left fit-image" 
            src='{{ url_for("static", filename= "images/" + page.lower_image) }}'>
    {% endif %}
{% endblock %}
