{% extends 'admin_layout.html' %}
{% block body %}
<form method='POST' action='{{ url_for("edit_admin") }}'>
    {{ form.csrf_token }}
    <table>
        <tr>
            <td>Reset info for {{ current_user.username }}</td>
        </tr>
        {% for field in form if field.widget.input_type != 'hidden' %}
            <tr>
                <td>{{ field.label }}</td><td>{{ field }}</td>
                {% if field.errors %}
                    <td>{{ field.errors[0] }} </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <input type='submit' value='Submit' />
</form>
{% endblock %}
