<html>
    <head>
        <title>asfas admin</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' 
            type='text/css'>
        <link rel='stylesheet' href='{{ url_for("static", filename="css/reset.css") }}'>
        <link rel='stylesheet' href='{{ url_for("static", filename="css/admin.css") }}'>
    </head>
    <body>
        <span id="header">
            <h1>
                <a href='{{ url_for("admin_index") }}'>
                    asfas admin: 
                </a>
            </h1>
            {% if current_user.is_authenticated %}
            <p>
                <a href='{{ url_for("logout") }}'>
                    Logout from {{ current_user }}
                </a>
            </p>
            {% endif %}
        </span>
        <div id="main">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
