{% extends 'admin_layout.html' %}
{% block body %}
<span class="page-link">
    <a href='{{ url_for("page_view", title=page.title) }}'>View {{ page.title }} page</a>
</span>
<form method='POST' action='{{ url_for("page_edit", title=page.title) }}' 
    enctype='multipart/form-data'>
    {{ form.csrf_token }}
    <table class="edit-form">
        {% for field in form if field.widget.input_type != 'hidden' and field.data != 'N/A' %}
            <tr>
                <td>{{ field.label }}</td><td>{{ field }}</td>
                {% if field.errors %}
                    <td>{{ field.errors[0] }} </td>
                {% endif %}
                {% if field.name == 'header_image' or field.name == 'lower_image' %}
                <td>Current image: {{ field.data }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <input type='submit' value='Submit' />
</form>
{% endblock %}
