{% extends 'admin_layout.html' %}
{% block body %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='wysiwyg/bootstrap/js/bootstrap.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='wysiwyg/bootstrap/css/bootstrap.min.css') }}"></link>
<link rel="stylesheet" href="{{ url_for('static', filename='wysiwyg/bootstrap/css/bootstrap-responsive.min.css') }}"></link>
<link rel="stylesheet" href="{{ url_for('static', filename='wysiwyg/bootstrap-wysihtml5.css') }}"></link>
<script type="text/javascript" src="{{ url_for('static', filename='wysiwyg/wysihtml5-master/parser_rules/advanced.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='wysiwyg/wysihtml5-master/dist/wysihtml5-0.3.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='wysiwyg/bootstrap-wysihtml5.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        //$('#content').wysihtml5();
            /**
        var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
            toolbar:      "wysihtml5-toolbar", // id of toolbar element
            parserRules:  'wysihtml5ParserRules' // defined in parser rules set 
        });
        **/
        //$('#content').addClass('textarea')
        $('#content').wysihtml5();
        //$('.textarea').wysihtml5();
    });
</script>

<span class="page-link">
    <a href='{{ url_for("page_view", title=page.title) }}'>View {{ page.title }} page</a>
</span>
<form method='POST' action='{{ url_for("page_edit", title=page.title) }}' 
    enctype='multipart/form-data'>
    {{ form.csrf_token }}
    <table class="edit-form">
        {% for field in form if field.widget.input_type != 'hidden' and field.data != 'N/A' %}
            <tr>
                <td>{{ field.label }}</td><td>{{ field }}</td>
                {% if field.errors %}
                    <td>{{ field.errors[0] }} </td>
                {% endif %}
                {% if field.name == 'header_image' or field.name == 'lower_image' %}
                <td>Current image: {{ field.data }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <input type='submit' value='Submit' />
</form>
{% endblock %}
