{% extends 'admin_layout.html' %}
{% block body %}
<h2>Editable Pages</h2>
<ul>
    <li><a href='{{ url_for("page_view", title="home") }}'>Home</a></li>
    <li><a href='{{ url_for("page_view", title="who") }}'>Who?</a></li>
    <li><a href='{{ url_for("page_view", title="therapy") }}'>Therapy</a></li>
    <li><a href='{{ url_for("page_view", title="music") }}'>Music</a></li>
    <li><a href='{{ url_for("page_view", title="friends") }}'>Friends</a></li>
    <li><a href='{{ url_for("page_view", title="contact") }}'>Contact</a></li>
</ul>
<h2>Users/Admins</h2>
<ul>
    <li><a href="{{ url_for('list_users') }}">List all users</a></li>
    <li><a href="{{ url_for('edit_admin') }}">Edit existing</a></li>
    <li><a href="{{ url_for('register_admin') }}">Register new admin</a></li>
</ul>
{% endblock %}
