body {
    background: #E1F4Fb;
    color: #005996;
    font-family: 'Roboto', sans-serif;
}

#header {
    border-bottom: 6px solid #005996;
    display: block;
    font-size: 2em;
    padding-left: 1em;
    padding-right: .5em;
    line-height: 100%;
    text-align: bottom;
}

#header h1 {
    display: inline;
    text-align: left;
}

#header h1 a {
    text-decoration: none;
}

#header p {
    display: inline;
    float: right;
    font-size: .6em;
}

a {
    color: #005996;
}

#main {
    padding: 1em;
    font-size: 1.2em;
}

#main h2 {
    font-size: 1.5em;
}

#main li {
    font-size: 1.2em;
    padding-left: 1.5em;
    padding-top: .3em;
}

#main ul {
    padding-bottom: 1em;
}

.clear {
    clear: both;
}

.fit-image {
    max-width: 75%;
    max-height: 75%;
}

.indent {
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.page-link {
    font-size: 1.2em;
    padding-bottom: 1em;
    display: block;
}

.edit-form td {
    padding-bottom: 1em;
    vertical-align: top;
}

.border {
    border: 5px solid #005996;
}
